.test {
width: 75px; 
height: 75px;  
border-radius: 75px; 
position: relative;  
animation: ili 5s infinite;  
} 
.test2 {
width: 75px; 
height: 75px;  
border-radius: 75px; 
position: relative;  
animation: ili 5s infinite;  
} 
@keyframes ili {
	0%   {left: 0px;} 
	33%  {left: 333px; background: rgba(184, 200, 11, 0.624);} 
	66%  {left: 666px; background: rgb(0, 0, 255);} 
	99%  {left: 999px;background: rgb(100, 195, 4)} 
	100% {left: 1000px; background: rgba(73, 0, 128, 0.601);} 
	} 
